# Nuxt dev/build output
.nuxt
.output
.data
.nitro
.cache
# Node modules
node_modules
# Logs
logs
*.log
# Misc
.DS_Store
.fleet
.idea
# Local env files
.env
.env.*
!.env.example
# Vscode
.vscode/*
!.vscode/extensions.json
# Vite
vite.config.ts.timestamp-*
